
img{max-width:100%;}
/*--end reset--*/
.body{
	background: url(../images/2.jpg)no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-attachment:fixed;
}
.body-overlay{
	background-color: #000;
	opacity: 0.8;
	height: auto;
}
.bg-agile {
    width: 44%;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    padding: .5em 0 .8em;
}
/*--appointment--*/
.book-appointment h2 {
    text-align: center;
    font-size: 1.8em;
    color: #fff;
    margin-bottom: 1.5em;
    font-weight: 500;
    letter-spacing: 2px;
}
.book-appointment {
    background:rgba(20, 20, 21, 0.47);
    padding: 3em;
}
.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
    width: 96.5%;
    color: #fff;
    outline: none;
    font-size: .9em;
    line-height: 25px;
    padding: 5px 10px;
    border: none;
    -webkit-appearance: none;
    margin: .3em 0em 1em;
    font-family: 'Signika', sans-serif;
    background: rgba(237, 237, 237, 0.54);
}
textarea {
	resize:none;
	height:25px
}
.book-appointment select.form-control {
    outline: none;
    font-size: .9em;
    padding: 7px 10px;
    width: 100%;
	margin: 5px 0px 16px;
    border-radius: 0;
	background: rgba(237, 237, 237, 0.54);
    color: #fff;
    border: none;
    font-family: 'Signika', sans-serif;
}
.book-appointment select.form-control option {
    background:#111;
}
input[type=submit] {
    display: block;
    color: #fff;
    margin: 0 auto;
    margin-top: 2em;
    padding: .8em 2em;
    font-size: 1.04em;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
    outline: none;
    background: #00FF00;
    font-weight: 500;
    font-family: 'Signika', sans-serif;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
input[type=submit]:hover {
    background: #f36870;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.arrows-reserve{
	position:relative;
	color:#EFA52C;
	font-size:2em;
}
.arrows-reserve:before{
    content: '';
    position: absolute;
    bottom: 43%;
    left: 35.5%;
    background: #fff;
    width: 11%;
    height: 3px;
}
.arrows-reserve:after{
    content: '';
    position: absolute;
	bottom: 43%;
    right: 35.5%;
    background: #fff;
    width: 11%;
    height: 3px;
}
.book-appointment p {
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
}
p.wickedpicker__title {
    background: #f74b55;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.wickedpicker__close {
    color: #fefefe;
}
.gaps {
    background:rgba(84, 125, 236, 0.41);
    margin: 1em 0;
    padding: 1em .5em 0;
}
/*--//appointment--*/

/*--copyright--*/
.copy.w3ls {
    margin: 2.5em 0;
    text-align: center;
}
.copy p {
    color: #fff;
    font-size: 1em;
    letter-spacing: 2px;
}
.copy p a {
    color: #f74b55;
    text-decoration: none;
	transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.copy p a:hover {
    color: #fff;
	transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
/*--//copyright--*/

/*--responsive--*/

@media(max-width: 1680px){

}
@media(max-width: 1600px){

}
@media(max-width: 1440px){
	
}
@media(max-width: 1366px){
	.bg-agile {
		width: 47%;
	}
}
@media(max-width: 1280px){
	.bg-agile {
		width: 50%;
	}
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		width: 96%;
	}
}
@media(max-width: 1080px){
	h1 {
		font-size: 2.8em;
	}
	.bg-agile {
		width: 56%;
	}
}
@media(max-width: 1050px){

}
@media(max-width: 1024px){
	.bg-agile {
		width: 58%;
	}
}
@media(max-width: 991px){
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		width: 95.5%;
	}
}
@media(max-width: 900px){
	h1 {
		font-size: 2.6em;
	}
	.book-appointment h2 {
		font-size: 1.7em;
	}
	.bg-agile {
		width: 66%;
	}
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		width: 96%;
	}
}
@media(max-width: 800px){
	h1 {
		font-size: 2.5em;
	}
	.bg-agile {
		width: 72%;
	}
}
@media(max-width: 768px){
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		width: 95.5%;
	}
	.bg-agile {
		width: 74%;
	}
}
@media(max-width: 736px){
	.bg-agile {
		width: 76%;
	}
	.copy p {
		line-height: 2;
	}
}
@media(max-width: 667px){
	h1 {
		font-size: 2.4em;
	}
	.book-appointment {
		padding: 2em;
	}
	.book-appointment h2 {
		margin-bottom: 1.2em;
	}
	.bg-agile {
		width: 78%;
	}
	.copy.w3ls {
		margin: 2em 0;
	}
}
@media(max-width: 640px){
	h1 {
		letter-spacing: 0px;
	}
	.bg-agile {
		width: 81%;
	}
}
@media(max-width: 600px){
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		width: 95%;
	}
}
@media(max-width: 568px){
	h1 {
		font-size: 2.1em;
	}
	.copy p {
		letter-spacing: 1px;
	}
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		width: 94.5%;
	}
}
@media(max-width: 480px){
	h1 {
		font-size: 1.8em;
	}
	.book-appointment h2 {
		font-size: 1.5em;
		letter-spacing: 1px;
	}
	.bg-agile {
		width: 90%;
	}
	input[type=submit] {
		padding: .7em 1.5em;
		font-size: 1em;
	}
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		width: 94%;
	}
}
@media(max-width: 440px){

}
@media(max-width: 414px){
	h1 {
		font-size: 1.65em;
	}
	.book-appointment h2 {
		font-size: 1.4em;
	}
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		width: 93%;
	}
	.book-appointment p {
		font-size: .95em;
		letter-spacing: 0px;
	}
	.copy.w3ls {
		margin: 1.5em 0;
	}
}
@media(max-width: 384px){
	h1 {
		font-size: 1.5em;
	}
	.copy p {
		font-size: .9em;
	}
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		width: 92%;
	}
}
@media(max-width: 375px){
	.book-appointment h2 {
		font-size: 1.3em;
	}
	.book-appointment {
		padding: 1.5em;
	}
}
@media(max-width: 320px){
	input[type=submit] {
		padding: .8em 1em;
		font-size: .9em;
		margin-top: 1.5em;
	}
	.book-appointment input[type="text"], .book-appointment input[type="date"], .book-appointment input[type="time"], .book-appointment input[type="email"], textarea {
		width: 90%;
	}
	h1 {
		line-height: 1.4;
	}
}

/*--//responsive--*/